## exception handling
exception occurs when invalid operations are per formed in python

In [10]:
5/0

ZeroDivisionError: division by zero

In [11]:
"ETLHive"/3

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [12]:
"23"/2

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [13]:
a = "23"
type(a)

str

In [14]:
b = int(a)
b

23

In [15]:
type(b)

int

In [16]:
d = float("23.5")
type(d)

float

In [17]:
e = "ab"
int(e)

ValueError: invalid literal for int() with base 10: 'ab'

In [18]:

float(e)

ValueError: could not convert string to float: 'ab'

In [19]:
float("")

ValueError: could not convert string to float: ''

In [20]:
a = 5/0
print("program  completed")

ZeroDivisionError: division by zero

division function without exception

In [21]:
def division():
    num =float(input("please enter a numerator :"))
    den =float(input("plese enter a denominator :"))
    div =num/den
    print(f"division of {num} and {den} is {div}")
    return div

In [22]:
# num -12, den -4
a = division()
print("program completed")

ZeroDivisionError: float division by zero

In [23]:
# num - 10,den-0
division()
print("thankyou")

ValueError: could not convert string to float: 'abc'

In [24]:
# num abc
division()
print("program complited")

ValueError: could not convert string to float: ''

In [25]:
# Num - 12.5 , Den - Blank
division()
print("Program completed")

ValueError: could not convert string to float: ''

## Generic way of handling exceptions

In [26]:
def division2():
    try:
        num = float(input("Please enter numerator : "))
        den = float(input("Please enter denominator : "))
        div = num/den 
        print(f"Divsion of {num} and {den} is {div}")
        return div
    except Exception as e:
        print(f"Exception occured : {e}")

In [27]:
# num - 100, den - 20
b = division2()
print("Program completed")

Exception occured : could not convert string to float: ''
Program completed

In [28]:
b

In [29]:
# num - 25, den - 0
b = division2()
print("Program completed")

Exception occured : float division by zero
Program completed

In [30]:
# Invailid user num - abc
division2()
print(3*4)

Exception occured : could not convert string to float: 'abc'
12

In [31]:
# Blank input num - blank
division2()
print(4/5)

Exception occured : could not convert string to float: ''
0.8

## Detailed Exception Handling

In [32]:
def division3():
    try:
        num = float(input("Please enter a numerator : "))
        den = float(input("Pleas enter Denominator : "))
        div = num/den 
        print(f"Divison of {num} and {den} is {div}")
        return div 
    except ZeroDivisionError:
        print("Denominator for division should not be 0")
    except ValueError:
        print("Invalid input entered , only numbers as input is allowed")
        print("Blank values not allowed")
    except Exception as e:
        print(f"Unexpected error occured : {e}")

In [33]:
# num -25, den - 5
division3()

Divison of 25.0 and 5.0 is 5.0

5.0

In [34]:
# num -23, den= 0
division3()

Denominator for division should not be 0

In [35]:
# num -abc
division3()

Invalid input entered , only numbers as input is allowed
Blank values not allowed

In [36]:
# num - blank
division3()

Invalid input entered , only numbers as input is allowed
Blank values not allowed

## Raising custom exceptions

In [37]:
age = int(input("Please enter the age in years : "))
print(f"Age entered : {age} years")

Age entered : 50 years

In [38]:
age = int(input("Please enter the age in years : "))
print(f"Age entered : {age} years")

Age entered : 23 years

In [39]:
def valid_age():
    try:
        age = int(input("Please enter age between 0 to 120 : "))
        if age < 0 or age > 120:
            raise ValueError("Age Must be between 0 and 120")
        else:
            return age
    except Exception as e:
        print(f"Exception Occured : {e}")

In [41]:
# value enter - 23
age = valid_age()
print(age)

23

In [42]:
age

23

In [43]:
# input entered -25
age = valid_age()
print(f"Age entered : {age}")

Exception Occured : Age Must be between 0 and 120
Age entered : None

In [44]:
# age entered 200
age = valid_age()
print(f"Age entersd :{age}")

Exception Occured : Age Must be between 0 and 120
Age entersd :None

In [45]:
age

In [46]:
# age entered abc
age = valid_age()
print(f"Age entered : {age}")

Age entered : 55

In [47]:
age

55

## following blocks for exception handling
1.try - the code which you want to execute

2.except - if exception occurs this block will execute

3.else - exceutes only if try block is successful

4.finally - Finally block will always execute in the code

In [16]:
from math import sqrt

In [17]:
sqrt(25)

5.0

In [18]:
sqrt(64)

8.0

In [19]:
sqrt(-25)

ValueError: math domain error

In [20]:
def square_root():
    try:
        n = float(input("Please enter a positive number : "))
        s = sqrt(n)
    except Exception as e:
        print(f"Exception occured : {e}")
    else:
        print(f"Square root of {n} is {s:.2f}")
        return s
    finally:
        print("Finally Block will always execute")

In [21]:
# input - 64
s1 = square_root()

Square root of 64.0 is 8.00
Finally Block will always execute

In [22]:
s2 = square_root()

Square root of 2.0 is 1.41
Finally Block will always execute

In [23]:
# input =-25
s2 =square_root()

Exception occured : math domain error
Finally Block will always execute

In [24]:
# input = abc
s2 = square_root()

Exception occured : could not convert string to float: 'abc'
Finally Block will always execute

In [1]:
try:
    num = float(input("Please enter numerator : "))
    den = float(input("Please enter denomintor : "))
    div = num/den 
except Exception as e:
    print(f"Exception occured : {e}")
else:
    print(f"Division of {num} and {den} : {div}")
finally:
    print("Thank you")

Division of 56.0 and 5.0 : 11.2
Thank you