# Class in object oriented programming

In [2]:
a =32
print(type(a))

<class 'int'>

In [3]:
b = 24.5
print(type(b))

<class 'float'>

In [4]:
d = "ETLHive"
print(type(d))

<class 'str'>

In [5]:
c = False
print(type(c))

<class 'bool'>

In [6]:
e =[1,2,3,4]
print(type(e))

<class 'list'>

In [7]:
g ={
    "roll_no":[101,102,103],
    "NAME":["SHRI","RAJESH","KETAKI"],
    "MARKS":[90,87,45],
}
print(type(g))

<class 'dict'>

In [8]:
import pandas as pd
df= pd.DataFrame(g)
df

   roll_no    NAME  MARKS
0      101    SHRI     90
1      102  RAJESH     87
2      103  KETAKI     45

In [9]:
print (type(df))

<class 'pandas.core.frame.DataFrame'>

# attributes of classs dataframe

In [10]:
df.columns

Index(['roll_no', 'NAME', 'MARKS'], dtype='object')

In [11]:
list(df.index)

[0, 1, 2]

In [12]:
df.shape

(3, 3)

In [13]:
df.dtypes

roll_no     int64
NAME       object
MARKS       int64
dtype: object

# methods (functions) of class dataframe

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   roll_no  3 non-null      int64
 1   NAME     3 non-null      object
 2   MARKS    3 non-null      int64
dtypes: int64(2), object(1)
memory usage: 204.0+ bytes

In [15]:
df.sort_values(by="MARKS", ascending=False)

   roll_no    NAME  MARKS
0      101    SHRI     90
1      102  RAJESH     87
2      103  KETAKI     45

In [16]:
df.isna().sum()

roll_no    0
NAME       0
MARKS      0
dtype: int64

In [17]:
df.isna().sum()

roll_no    0
NAME       0
MARKS      0
dtype: int64

In [22]:
df.agg({"MARKS": "mean"})

MARKS    74.0
dtype: float64

In [20]:
df.agg({"MARKS": "mean"})

MARKS    74.0
dtype: float64

# creating a user defined class

# class person

In [29]:
# fiest function is a constructor function__init__
def __init__(self,name:str,age:int,gender:str,ocupation:str):
    self.name =name
    self.age = age
    self.gender = gender
    self.occupation = occupation

In [30]:
# Extra functionality for classs
def talk(self):
        print(f"Hi there my name is {self.name}")
        print(f"I am currently {self.age} years old")
        print(f"I am {self.gender}")
        print(f"I work as a {self.occupation}")

__main__reffers to the current file i am working on

attributes of class person

method talk for class person

In [37]:
p2 = person("aditi",28,"female""hr")
type(p2)

NameError: name 'person' is not defined

In [42]:
p2.age

NameError: name 'p2' is not defined

modifying the age

In [46]:

p2.age

NameError: name 'p2' is not defined

# some disvantage of creating classes directly

In [49]:
p3 = Person(name=23, age="Rahul", gender="Engg", occupation="male")
p3.name

NameError: name 'Person' is not defined

In [50]:
p3.age

NameError: name 'p3' is not defined

invalid inputs work fine by creating class directly

Dataclasses in python

In [54]:
isinstance("ABC",int)

False

In [55]:
isinstance(88.3,float)

True

In [58]:
a=["A","S","D"]
print("\n".join(a))

A
S
D

In [62]:
from dataclasses import dataclass
from typing import Literal

In [63]:
@dataclass
class Person2:

    name: str
    age: int
    gender: Literal["male", "female"]
    occupation: str

    def __post_init__(self):
        errors = []

        if not isinstance(self.name, str):
            errors.append("name should be a string")
        if not isinstance(self.age, int) or self.age <= 0:
            errors.append("Age should be a positive integer")
        if self.gender not in ["male", "female"]:
            errors.append("Gender should be either male or female")
        if not isinstance(self.occupation, str):
            errors.append("Occupation should be a string")

        if errors:
            raise ValueError("\n".join(errors))

    def introduce(self):
        print(f"My name is {self.name}")
        print(f"I am currently {self.age} years old")
        print(f"I am a {self.gender}")
        print(f"I work as a : {self.occupation}")

In [64]:
p3 = Person2(name="Raman", age=20, gender="male", occupation="Sales")

In [65]:
p3

Person2(name='Raman', age=20, gender='male', occupation='Sales')

In [67]:
type(p3)

__main__.Person2

In [68]:
p3.name

'Raman'

In [69]:
p3.age

20

In [70]:
p3.gender

'male'

In [72]:
p3.occupation

'Sales'

In [73]:
p3.introduce()

My name is Raman
I am currently 20 years old
I am a male
I work as a : Sales

In [74]:
p4 = Person2(name=23, age=-25, gender="M", occupation=False)

ValueError: name should be a string
Age should be a positive integer
Gender should be either male or female
Occupation should be a string

next toppic starting at 4:30 pm

# class for bank account

In [77]:

@dataclass
class Account:

    ac_no: int
    name: str
    bal: float

    def deposit(self, amt):
        self.bal = self.bal + amt
        print(f"Amount of {amt} INR deposited in account - {self.ac_no}")
        print(f"Current Balance : {self.bal} INR")

    def withdraw(self, amt):
        if amt > self.bal:
            raise ValueError(f"Insuffecient balance, current balance : {self.bal}")
        else:
            self.bal = self.bal - amt
            print(f"Amount of {amt} INR Withdrawn from account - {self.ac_no}")
            print(f"Current Balance : {self.bal} INR")

    def transfer(self, amt, other_ac):
        self.withdraw(amt)
        other_ac.deposit(amt)

In [80]:
a1 = Account(ac_no=123, name="Raman", bal=1000.0)

In [81]:
a1

Account(ac_no=123, name='Raman', bal=1000.0)

In [82]:
type(a1)

__main__.Account

In [83]:
a1.ac_no

123

In [84]:
a1.name

'Raman'

In [85]:
a1.bal

1000.0

In [86]:
a1.deposit(4000)

Amount of 4000 INR deposited in account - 123
Current Balance : 5000.0 INR

In [89]:
a1.withdraw(1500)

Amount of 1500 INR Withdrawn from account - 123
Current Balance : 3500.0 INR

In [90]:
a1.bal

3500.0

In [97]:
a2 = Account(ac_no=567, name="Priya", bal=2000)

In [98]:
a2

Account(ac_no=567, name='Priya', bal=2000)

transferring from a1 to a2

In [99]:
a1

Account(ac_no=123, name='Raman', bal=3500.0)

In [100]:
a2

Account(ac_no=567, name='Priya', bal=2000)

In [101]:
a1.withdraw(4000)

ValueError: Insuffecient balance, current balance : 3500.0

In [102]:
a1.transfer(500,a2)

Amount of 500 INR Withdrawn from account - 123
Current Balance : 3000.0 INR
Amount of 500 INR deposited in account - 567
Current Balance : 2500 INR

tranfereing 1000 inr from a2 to a1

In [103]:
a2.bal

2500

In [104]:
a2.transfer(2000,a1)

Amount of 2000 INR Withdrawn from account - 567
Current Balance : 500 INR
Amount of 2000 INR deposited in account - 123
Current Balance : 5000.0 INR

In [105]:
a2

Account(ac_no=567, name='Priya', bal=500)

In [106]:
a1

Account(ac_no=123, name='Raman', bal=5000.0)

student asignment
create class triangle with 3 sides